body{
    background-color: rgb(31,31,31);
    width: 100%;
    height: 100%;
    z-index: -2;
}

header{
    width: 101%;
    margin-left: -1%;
    text-align: center;
    font-size:x-large;
    color: whitesmoke;
    background-color: rgba(0, 0, 0, 0);
    filter: drop-shadow(20px 20px 4px #000);
}

span{
    display: inline-block;
    background:linear-gradient(to left, #848080,#00f0f0 50%, #00f0f0 75%, #00f0f0 75%) ;
    font-family: cursive;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.picts{
    display: flex;
    background-color: rgba(0, 0, 255, 0);
    width: 96%;
    height: 600px;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 4%;
}

.pict1::before, .pict1::after, .pict2::before, .pict2::after, .pict3::before, .pict3::after, .pict4::before, .pict4::after{
    content:'';
    position:absolute;
    top:0;
    left:0;
    background: linear-gradient(45deg,#848080,#00f0f0,#0000ff,#848080,#00f0f0,#0000ff,#848080);
    width: 100%;
    height: 100%;
    background-size: 500%;
    z-index: -1;
    transform: scale(1.02);
    animation:animate 20s infinite;
}

.pict1::after,.pict2::after,.pict3::after,.pict4::after,.pict5::after{
    filter:blur(10px);
}


@keyframes animate{
    0% {background-position: 0 0;}
    50%{background-position: 300% 0;}
    100%{background-position: 0 0;}
}


.pict1{
    background-color: rgba(0, 0, 0, 0);
    width: 23%;
    height: 80%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    img{width: 100%;height: 100%;}
    position :absolute;
}

.pict2{
    background-color: rgba(0, 255, 255, 0);
    width: 23%;
    height: 80%;
    margin-left: 25.5%;
    margin-right: 0.5%;
    img{width: 100%;height: 100%;}
    position :absolute;
}

.pict3{
    background-color: rgba(255, 255, 255, 0);
    width: 23%;
    height: 80%;
    margin-left: 50.5%;
    margin-right: 0.5%;
    img{width: 100%;height: 100%;}
    position :absolute;
}

.pict4{
    background-color: rgba(255, 0, 0, 0);
    width: 23%;
    height: 80%;
    margin-left: 75.5%;
    margin-right: 0.5%;
    img{width: 100%;height: 100%;}
    position :absolute;
}


.pict1 img,.pict2 img,.pict3 img,.pict4 img{
    transition:opacity 0.3 ease;
    position: absolute;
}

.pict1 .img1, .pict2 .img1,.pict3 .img1,.pict4 .img1{
    opacity:1;
}

.pict1 .img2,.pict2 .img2,.pict3 .img2,.pict4 .img2{
    opacity: 0;
}

.pict1:hover .img1,.pict2:hover .img1,.pict3:hover .img1,.pict4:hover .img1{
    opacity: 0;
}

.pict1:hover .img2,.pict2:hover .img2 ,.pict3:hover .img2,.pict4:hover .img2{
    opacity: 1;
}

.img2{
    filter: blur(3px);
}

.text{
    display: flex;
    flex-direction: column;
    opacity: 0;
    position: absolute;
    z-index: 1;
    width: 90%;
    height: 95%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    text-align: center;
    color: whitesmoke;
}

.text:hover{
    display: flex;
    flex-direction: column;
    opacity: 1;
    position: absolute;
    z-index: 1;
}